/* buttons */

/* open shopping cart button */
.shopping-cart-btn{
    position: absolute;
    top: 2%;
    right: 2%;
}

#cart{
    background-color:#88a629;
    border-radius: 15px;
    padding: 5px 10px;

}

#cart:hover{
    background-color: #82a7ca;
}

/* close shopping cart button */
.close-btn{
    text-align: right;
}

#close-cart{
    background-color: #88a629;
    color: white;
    padding: 10px;
    border-radius: 12px;
}

#close-cart:hover{
    background-color: #82a7ca;
}

.cocktail-title-div{
    text-align: center;
}

/* shopping list div */
#shopping-list{
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 2%;
    right: 1%;
    z-index: 99;
    padding: 10px;
    display: none;
    width: 300px;
}


  .clear-btn-div{
    text-align: center;
  }

  .clear-btn{
    border: none;
    background-color: #88a629;
    color: white;
    border-radius: 24px;
  }

  .clear-btn:hover{
    background-color: #82a7ca;
  }