/* tentative color palette: https://colorpalettes.net/color-palette-1404/
it's not super pretty tho, so I would prefer to change.... */

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px){
    .global-search {
        padding: 20px 0;
        text-align:center;
    }

    body {
        padding-top: 15%;
        padding-bottom: 15px;
        background-color: #F0EAEA;
    }

    .global-search {
        text-align:center;
        padding:10px;
    }

    .global-search .form-control {
        width:500px;
    }

    .global-search * {
        display:inline-block;
        margin-bottom:0;
    }

    #removeForm {
      text-align: left;
    }
}


.topcorner{
    position:absolute;
    top:2%;
    right:2%;
    text-align: right;
}

.btn{
    background-color: #FDD20A;
    color: #3A3637;
    border: none
}

.btn:hover{
  background-color: #ad8e06;
}

.step-links a{
    color: #88a629;
}


h1{
  font-family: 'Cuprum', sans-serif;
  color: #3A3637;
  font-size: 70px;
  text-decoration: underline;
}

h2{
    font-family: 'Cuprum', sans-serif;
    color: #82a7ca;
}

footer{
  position: fixed;
  background-color: #3A3637;
  color: white;
  text-align: center;
  bottom: 0%;
  width: 100%;
  padding-top: 3px;
  font-family: 'Cuprum', sans-serif;
}

a{
  color: #3A3637;
  text-decoration: underline;
}

a:active{
  color: #FDD20A;
}

a:hover{
  color: #ad8e06;
}


.cocktailIngredient {
  display: inline;
}

.addToDrink {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px;
  border: none;
  background: none;
  font-size: 14px;
}

.fa-plus-circle{
  color: #88a629;
}

.fa-plus-circle:hover{
  color: #495815;
}

.with-results{
  position: fixed;
  top: 0%;
  margin-left: 300px;
  background-color: #F0EAEA;
  border-bottom: solid 1px #3A3637;
}

.results-title-div{
  text-align: left;
}

.with-results-title{
  text-align: left;
  font-size: 40px;
}

.results-search{
  display: inline;
  vertical-align: bottom;
  margin: 10px;
  margin-top: -20px;
}

.search-bar{
  margin-top: -10px;
}

.ranked-results{
  margin-top: -90px;
  margin-left: 300px;
  text-align: left;
}

.ranked_list{
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
}