/* basic color scheme:
  beige/white: #F0EAEA
  gray: #3A3637
  yellow: #FDD20A
*/


/* given css */
@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:400px){
    .global-search {
        padding: 20px 0;
        text-align:center;
    }

    body {
        padding-top: 15%;
        padding-bottom: 15px;
        background-color: #F0EAEA;
    }

    .global-search {
        text-align:center;
        padding:10px;
    }

    .global-search .form-control {
        width:500px;
    }

    .global-search * {
        display:inline-block;
        margin-bottom:0;
    }

    #removeForm {
      text-align: left;
    }
}

#aboutBody {
  padding-top: 0%;
  text-align: center;
}

#aboutNetID {
  color: black;
}

/* initial css (given) */
.topcorner, #aboutForm {
    position:absolute;
    top:2%;
    right:2%;
    text-align: right;
}


/* search btn styling */
.btn{
    background-color: #FDD20A;
    color: #3A3637;
    border: none
}

.btn:hover{
  background-color: #ad8e06;
}

.step-links a{
    color: #88a629;
}

#xableAdd{
  background-color: #88a629;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 4px;
}

#xableAdd:hover{
  background-color: #495815;
}

#xableRemove{
  margin-top: 10px;
  margin-left: 0px;
  padding: 0px;
  border: none;
  background: none;
}

/* main css */

/* header/title */
h1{
  font-family: 'Cuprum', sans-serif;
  color: #3A3637;
  font-size: 70px;
  text-decoration: underline;
}

h2{
    font-family: 'Cuprum', sans-serif;
    color: #82a7ca;
}

/* footer: unused */
footer{
  position: fixed;
  background-color: #3A3637;
  color: white;
  text-align: center;
  bottom: 0%;
  width: 100%;
  padding-top: 3px;
  font-family: 'Cuprum', sans-serif;
}


/* links */
a{
  color: #3A3637;
  text-decoration: underline;
}

a:active{
  color: #FDD20A;
}

a:hover{
  color: #ad8e06;
}

/* === styling for after search results are displayed === */
/* search bar with results */

/* with results: form */
.with-results{
  position: fixed;
  top: 0%;
  margin-left: 300px;
  background-color: #F0EAEA;
  border-bottom: solid 1px #3A3637;
}

/* displaying the title (drinkup) */
.results-title-div{
  text-align: left;
}

.with-results-title{
  text-align: left;
  font-size: 40px;
}

.results-search{
  display: inline;
  vertical-align: middle;
  margin: 10px;
  margin-top: -20px;
}

.search-bar{
  margin-top: -10px;
}

/* title of the search */
.ranked-results-title {
  display: inline-block;
}


/* ingredients list after search */
.cocktailIngredient {
  display: inline;
}

/* add to drink buttons */
.addToDrink {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0px;
  border: none;
  background: none;
  font-size: 14px;
}

.fa-plus-circle{
  color: #88a629;
}

.fa-plus-circle:hover{
  color: #495815;
}


#queryAdd {
  display: inline-block;
  /* font-size: 30px; */
}

#queryAddButton {
  font-size: 22px;
}

/* actual results display */
.ranked-results{
  margin-top: -90px;
  margin-left: 300px;
  text-align: left;
}

.ranked-list{
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
}

.ranked-div{
  margin-bottom: 10px;
  width: 650px;
}

.ranked-form{
  margin-bottom: 0px;
}

.ranked-name{
  font-size: 22px;
  margin: 5px;
  margin-bottom: 0px;
  /* text-decoration: underline; */
}

.ranked-info{
  font-size: 19px;
  margin: 0px;
  padding-left: 30px;
}


/* === search bar styling without results === */

/* advanced search */
/* link/btn styling */
.advanced-search-btn-div{
  width: 100%;
  text-align: center;
  margin-top: 0px;
  padding: 0px;
}

#advanced-search{
  background: none;
  border: none;
  text-decoration: underline;
  color: #3A3637;
}

#advanced-search:hover{
  color: #FDD20A;
  cursor: pointer;
}

#advanced-search:active{
  color: #ad8e06;
}

/* actual settings div styling */
#advanced-search-settings{
  display: none;
  position: absolute;
  top: 30%;
  left: 35%;
  background-color: #F0EAEA;
  width: 400px;
  height: 200px;
  border: solid 1px #3A3637;
}

/* close settings btn styling */
.close-settings-div{
  width: 100%;
  text-align: right;
}

#close-settings{
    background-color: #FDD20A;
    color: white;
    padding: 10px;
    border-radius: 12px;
    margin: 10px;
}

#close-settings:hover{
    background-color: #ad8e06;
}

/* title styling */
.search-settings-title{
  width: 100%;
  text-align: center;
  padding: 50x;
}

/* form styling */
.search-settings-form{
  text-align: center;
}

/* styling the select option */
select{
  margin: 10px;
  width: 120px;
  height: 25px;
}

/* set search settings btn styling */
.search-settings-btn{
  background-color: #FDD20A;
  color: white;
  border-radius: 12px;
}

.search-settings-btn:hover{
  background-color: #ad8e06;
}


/* decorative bird image styling */
.bird{
  position: fixed;
  right: 0%;
  bottom: 0%;
}

.bird-img{
  width: 300px;
}
