<html>
    <head>
        <!-- stylesheets -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/cocktail.css">
        <link rel="stylesheet" href="/static/done_cocktails.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cuprum|Hind+Siliguri" rel="stylesheet">
        
        <!-- jquery/javascript libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body>
        <!-- the logo - if clicked, sends back to home page -->
        <h1><a href='/'>DrinkUp</a>: Cocktail Search</h1>

        <!-- the list of final recipe ingredients -->
        <div id='cocktail-list'>
            <!-- <div class='close-btn'>
                <button id='close-cart'><i class="fa fa-close"></i></button>
            </div> -->
            <div class='cocktail-title-div'>
                <img class='drink-images-final' src='/static/images/shaker.png'>
                <h2 class='cocktail-title'>Final Recipe</h2>
                <img class='cocktail-banner' src='/static/images/ribbon.png'>
            </div>

            <form class="form-inline global-search" id="removeForm">

              {% if cocktail %}
              {% for c in cocktail %}
                  <br>
                  <p class="cocktailIngredient">{{c}}</p>
              {% endfor %}
              {% endif %}<br>
            <br>
            <div class='back-btn-div'>
                <a class='back-btn' href='/'><i class="fa fa-arrow-left"></i> back to search</a>
            </div>
            </form>

        </div>

        <div class='content'>
            {% for r in cocktail_search %}
            <div class='cocktail-display'>
                <h2>{{r['cocktail']}}</h2>
                <!-- <img class='cocktail-img' src='/static/images/cosmopolitan.jpghttps://uk.thebar.com/assets/en-gb/Images/AM/strawberry-daquiri$$069A0000000eCU8IAM.jpg?maxheight=360&maxwidth=540&quality=85' alt="{{r['cocktail']}}"> -->
                <h3>Ingredients</h3>
                <ul>
                    {% for i in r['ingredients'] %}
                        <li>{{i}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </body>

    <script>
        $("#cart").click(function(){
            $("#cocktail-list").fadeIn();
            $("#cart").fadeOut();
        });
        $("#close-cart").click(function(){
            $("#cocktail-list").fadeOut();
            $("#cart").fadeIn();
        });
    </script>
</html>