<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/cocktail.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cuprum|Fascinate+Inline" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>

        <div class="shopping-cart-btn">
            <button id="cart"><img width='25px' src="/static/images/cocktail.png"></button>
        </div>

        <div id='shopping-list'>
            <div class='close-btn'>
                <button id='close-cart'><i class="fa fa-close"></i></button>
            </div>
            <div class='cocktail-title-div'>
                <h2>Your Cocktail</h2>
            </div>

            <form class="form-inline global-search" id="removeForm">

              {% if cocktail %}
              {% for c in cocktail %}
                  <br>
                  <p class="cocktailIngredient">{{c}}</p>
                  <button class='removeFromCocktail' name='remove-from-cocktail' value="{{c}}"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
              {% endfor %}
              {% endif %}<br>
            </form>

            <form>
                <div class='clear-btn-div'>
                    <button class='clear-btn' name='clear-cocktail' value='clear'><i class="fa fa-trash-o" aria-hidden="true"></i> clear</button>
                </div>
            </form>
        </div>

        <form class="form-inline global-search">
            <img class='dnm' src="/static/images/dnm.jpg" width='80px'><br>
            <h1>
                DrinkUp!
            </h1>

            <br><br>

            <div class="form-group" autocomplete="off">
                <div class="autocomplete">
                    <input id="ingredient_input" type="text" name="ingredients" class="form-control" placeholder="ingredients">
                </div>
                <button type="submit" class="btn btn-info">search</button>
            </div>
        </form>

        <form class="form-inline global-search">

        {% if data %}
            <h2>{{output_message}}</h2><br>
            <div class='ranked_list'>
            {% for d in data %}
                <br>
                <p>{{d}}</p>
                <button class='addToDrink' name='add-to-cocktail' value="{{d}}"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            {% endfor %}
        {% endif %}
        </div>
        </form>
    </body>

    <script>
        $("#cart").click(function(){
            $("#shopping-list").fadeIn();
            $("#cart").fadeOut();
        });
        $("#close-cart").click(function(){
            $("#shopping-list").fadeOut();
            $("#cart").fadeIn();
        });

        // autocomplete
        // source : https://www.w3schools.com/howto/howto_js_autocomplete.asp

        var allIngredients = JSON.parse('{{ complete_ingredients|safe }}');
        console.log(allIngredients);
        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false;}
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        b.addEventListener("click", function(e) {
                            inp.value = this.getElementsByTagName("input")[0].value;
                            closeAllLists();
                        });
                    a.appendChild(b);
                    }
                }
            });
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    currentFocus++;
                    addActive(x);
                } else if (e.keyCode == 38) { 
                    currentFocus--;
                    addActive(x);
                } else if (e.keyCode == 13) {
                    e.preventDefault();
                    if (currentFocus > -1) {
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                if (!x) return false;
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                x[i].parentNode.removeChild(x[i]);
                }
            }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        
        var typed = document.getElementById("ingredient_input");
        console.log(typed);
        if (typed){
            autocomplete(document.getElementById("ingredient_input"), allIngredients);
        }

        // autocomplete: wildcard - less nice styling
        // source: http://jqueryui.com/autocomplete/

        // $(function() {
        //     var allIngredients = JSON.parse('{{ complete_ingredients|safe }}');
        //     $( "#ingredient_input" ).autocomplete({
        //         source: allIngredients
        //     });
        // });

        // autocomplete: doesn't work...
        // source: http://jsfiddle.net/wyVJW/894/
        // $(document).ready(function() {
        //     var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";
        //     var allIngredients = JSON.parse('{{ complete_ingredients|safe }}');
        //     $('#search').autocomplete({
        //         source: allIngredients,
        //         open: function(e,ui) {
        //             var
        //                 acData = $(this).data('autocomplete'),
        //                 styledTerm = termTemplate.replace('%s', acData.term);

        //             acData
        //                 .menu
        //                 .element
        //                 .find('a')
        //                 .each(function() {
        //                     var me = $(this);
        //                     me.html( me.text().replace(acData.term, styledTerm) );
        //                 });
        //         }
        //     });
        // });
    </script>

</html>
