<html>
    <head>
        <!-- stylesheets/css -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/cocktail.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cuprum|Hind+Siliguri" rel="stylesheet">
        
        <!-- jquery/javascript libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body>
        <!-- button for showing the cart -->
        <div class="cocktail-cart-btn">
            <button id="cart"><img width='25px' src="/static/images/cocktail.png"></button>
        </div>

        <!-- the cocktail recipe list -->
        <div id='cocktail-list'>

            <!-- close btn -->
            <div class='close-btn'>
                <button id='close-cart'><i class="fa fa-close"></i></button>
            </div>

            <!-- the "your recipe" title -->
            <div class='cocktail-title-div'>
                <img class='drink-images' src='/static/images/drinks.png'>
                <h2 class='cocktail-title'>Your Recipe</h2>
                <img class='cocktail-banner' src='/static/images/ribbon.png'>
            </div>

            <!-- display the ingredients and the buttons -->
            <form class="form-inline global-search" id="removeForm">
              <!-- if there is a list of ingredients -->
              {% if cocktail %}
              {% for c in cocktail %}
                  <br>
                  <!-- display the name of the ingredient -->
                  <p class="cocktailIngredient">{{c}}</p>
                  <!-- show the remove button -->
                  <button class='removeFromCocktail' name='remove-from-cocktail' value="{{c}}"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
              {% endfor %}
              {% endif %}<br>
            </form>

            <!-- done and clear btns -->
            <div class='clear-btn-div'>
                <!-- form for done button -->
                <form class='cocktail-btns'>
                    <button class='done-btn' name='done-cocktail' value='done'><i class="fa fa-check" aria-hidden="true"></i> done</button>
                </form>
                <!-- form for clear button -->
                <form class='cocktail-btns'>
                    <button class='clear-btn' name='clear-cocktail' value='clear'><i class="fa fa-trash-o" aria-hidden="true"></i> clear</button>
                </form>
            </div>
        </div>

        <!-- if there is results to be displayed -->
        {% if data %}
            <!-- the smaller version of the search bar -->
             <form class="form-inline global-search with-results">
                 <!-- the drink up logo -->
                <div class='results-title-div results-search'>
                    <!-- logo is a link that leads to main page -->
                    <h1 class='with-results-title'><a href='/?ingredients='>DrinkUp</a></h1>
                </div>

                <!-- the search bar -->
                <div class="form-group search-bar results-search" autocomplete="off">
                    <div class="autocomplete">
                        <input id="ingredient_input" type="text" name="ingredients" class="form-control" placeholder="{{search_by}}" value="{{searched}}">
                    </div>
                    <!-- the search btn -->
                    <button type="submit" class="btn btn-info">search</button>
                </div>
            </form>

            <!-- displaying the results -->
            <div class='ranked-results'>
                <!-- display the output message (the user's query) -->
                <h2 class='ranked-results-title'>{{output_message}}</h2>
                
                <!-- form and buttons to add the query to the cocktail -->
                <form id="queryAdd">
                  <button id="queryAddButton" class='addToDrink' name='add-query-to-cocktail' value="{{searched}}"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </form>
                <br>

                <!-- show the results -->
                <div class='ranked-list'>
                    <!-- if the result is "query not found" then just display that -->
                    {% if (data == "query not found") %}
                        {{data}}
                    <!-- if the result is not "query not found" -->
                    {% else %}
                        <!-- loop through the data and display the results -->
                        {% for d in data %}
                            <div class='ranked-div'>
                                <form class='ranked-form'>
                                    <!-- display the rank and name with buttons to add to cocktail -->
                                    <p class='ranked-name'>
                                        {{d['rank']}}. {{d['name']}}<button class='addToDrink' name='add-to-cocktail' value='{{d["name"]}}'><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                                    </p>
                                </form>
                                <!-- display the information about each ingredient -->
                                <p class='ranked-info'>score: {{d['score']}}</p>
                                <p class='ranked-info'>type: {{d['label']}}</p>
                                <o class='ranked-info'>flavor: {{d['flavor']}}</o>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <!-- if there are no results to show (bigger search bar) -->
        {% if not data %}
            <form class="form-inline global-search">
                <!-- the title -->
                <h1>DrinkUp</h1>
                <br><br>
                <!-- the search bar -->
                <div class="form-group" autocomplete="off">
                    <div class="autocomplete">
                        <input id="ingredient_input" type="text" name="ingredients" class="form-control" placeholder="{{search_by}}">
                    </div>
                    <button type="submit" class="btn btn-info">search</button>
                </div>
            </form>
            <!-- the link/btn for changing the search settings -->
            <div class='advanced-search-btn-div'>
                <button id='advanced-search'>Advanced Search</button>
            </div>
        {% endif %}

    <!-- the footer (unused) -->
    <!-- <footer>
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </footer> -->

    <!-- the div for advanced search settings -->
    <div id='advanced-search-settings'>
        <!-- the btn to close the settings -->
        <div class='close-settings-div'>
            <button id='close-settings'><i class="fa fa-close"></i></button>
        </div>
        <!-- the title -->
        <div class='search-settings-title'>
            <h2>Search Settings</h2>
        </div>
        <!-- the form to set it -->
        <form class='search-settings-form'>
            Search For: <select name="search-label">
                <option disable selected value>all</option>
                <option value="alcohol">alcohol</option>
                <option value="mixer">mixer</option>
                <option value="garnish">garnish</option>
            </select>
            <input class='search-settings-btn' type="submit" name="search_by" value="search">
        </form>
    </div>

    <form id="aboutForm">
      <input type="submit" name="about" class="btn btn-info" value="About">
    </form>
    
    <!-- decorative bird image -->
    <div class='bird'>
        <img class='bird-img' src='/static/images/cocktail-bird.png'>
    </div>
    </body>

    <script>
        // the functions to close and open cocktail list
        $("#cart").click(function(){
            $("#cocktail-list").fadeIn();
            $("#cart").fadeOut();
        });
        $("#close-cart").click(function(){
            $("#cocktail-list").fadeOut();
            $("#cart").fadeIn();
        });

        // the functions to display and hide advanced search settings
        $("#advanced-search").click(function(){
            $("#advanced-search-settings").fadeIn();
            console.log("here");
        });

        $("#close-settings").click(function(){
            $("#advanced-search-settings").fadeOut();
        });


        // autocomplete: wildcard - less nice styling
        // source: http://jqueryui.com/autocomplete/
        $(function() {
            var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";
            var allIngredients = JSON.parse('{{ complete_ingredients|safe }}');
            $("#ingredient_input").autocomplete({
                source: allIngredients,
                open: function(e,ui) {
                    var
                        acData = $(this).data('autocomplete'),
                        styledTerm = termTemplate.replace('%s', acData.term);

                    acData
                        .menu
                        .element
                        .find('a')
                        .each(function() {
                            var me = $(this);
                            me.html( me.text().replace(acData.term, styledTerm) );
                        });
                }
            });
        });

    </script>

</html>
