<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/cocktail.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cuprum|Hind+Siliguri" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body>
        <!-- <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div> -->

        <div class="cocktail-cart-btn">
            <button id="cart"><img width='25px' src="/static/images/cocktail.png"></button>
            <!-- <button id="about"><img width='25px' src="/static/images/about.png"></button> -->
        </div>

        <div id='cocktail-list'>
            <div class='close-btn'>
                <button id='close-cart'><i class="fa fa-close"></i></button>
            </div>
            <div class='cocktail-title-div'>
                <img class='drink-images' src='/static/images/drinks.png'>
                <h2 class='cocktail-title'>Your Recipe</h2>
                <img class='cocktail-banner' src='/static/images/ribbon.png'>
            </div>

            <form class="form-inline global-search" id="removeForm">

              {% if cocktail %}
              {% for c in cocktail %}
                  <br>
                  <p class="cocktailIngredient">{{c}}</p>
                  <button class='removeFromCocktail' name='remove-from-cocktail' value="{{c}}"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
              {% endfor %}
              {% endif %}<br>
            </form>

            <form>
                <div class='clear-btn-div'>
                    <button class='clear-btn' name='clear-cocktail' value='clear'><i class="fa fa-trash-o" aria-hidden="true"></i> clear</button>
                </div>
            </form>
        </div>


        {% if data %}
             <form class="form-inline global-search with-results">
                <div class='results-title-div results-search'>
                    <h1 class='with-results-title'><a href='/'>DrinkUp</a></h1>
                </div>

                <div class="form-group search-bar results-search" autocomplete="off">
                    <div class="autocomplete">
                        <input id="ingredient_input" type="text" name="ingredients" class="form-control" placeholder="ingredients">
                    </div>
                    <button type="submit" class="btn btn-info">search</button>
                </div>
            </form>
            
            <div class='ranked-results'>
                <h2 class='ranked-results-title'>{{output_message}}</h2><br>
                <div class='ranked_list'>
                {% for d in data %}
                    <form>
                        {{d}}
                        <button class='addToDrink' name='add-to-cocktail' value="{{d}}"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                    </form>
                {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if not data %}
            <form class="form-inline global-search">
                <h1>
                    DrinkUp
                </h1>

                <br><br>

                <div class="form-group" autocomplete="off">
                    <div class="autocomplete">
                        <input id="ingredient_input" type="text" name="ingredients" class="form-control" placeholder="ingredients">
                    </div>
                    <button type="submit" class="btn btn-info">search</button>
                </div>
            </form>
        {% endif %}
    
    <!-- <footer>
        <p>Project Name: {{ name }}</p>
        <p>Student Name: ({{ netid }})</p>
    </footer> -->
    
    <div class='bird'>
        <img class='bird-img' src='/static/images/cocktail-bird.png'>
    </div>
        

    </body>

    <script>
        $("#cart").click(function(){
            $("#cocktail-list").fadeIn();
            $("#cart").fadeOut();
        });
        $("#close-cart").click(function(){
            $("#cocktail-list").fadeOut();
            $("#cart").fadeIn();
        });


        // autocomplete: wildcard - less nice styling
        // source: http://jqueryui.com/autocomplete/

        $(function() {
            var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";
            var allIngredients = JSON.parse('{{ complete_ingredients|safe }}');
            $("#ingredient_input").autocomplete({
                source: allIngredients,
                open: function(e,ui) {
                    var
                        acData = $(this).data('autocomplete'),
                        styledTerm = termTemplate.replace('%s', acData.term);

                    acData
                        .menu
                        .element
                        .find('a')
                        .each(function() {
                            var me = $(this);
                            me.html( me.text().replace(acData.term, styledTerm) );
                        });
                }
            });
        });

        // autocomplete: doesn't work...
        // source: http://jsfiddle.net/wyVJW/894/
        // $(document).ready(function() {
        //     var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";
        //     var allIngredients = JSON.parse('{{ complete_ingredients|safe }}');
        //     $('#search').autocomplete({
        //         source: allIngredients,
        //         open: function(e,ui) {
        //             var
        //                 acData = $(this).data('autocomplete'),
        //                 styledTerm = termTemplate.replace('%s', acData.term);

        //             acData
        //                 .menu
        //                 .element
        //                 .find('a')
        //                 .each(function() {
        //                     var me = $(this);
        //                     me.html( me.text().replace(acData.term, styledTerm) );
        //                 });
        //         }
        //     });
        // });
    </script>

</html>
